#explorerCard {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 0.5px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    background-color: #fff;
    box-shadow: 10px 10px 5px grey;
}

#explorerHeader {
    text-align: center;
    margin-bottom: 50px;
}

#subHeader {
    text-align: center;
    margin-bottom: 50px;

}