div.container {
    max-width: 100%;
    
}


div.row {
    display: flex;

    

}


#galaxyCard {
    max-width: 500px;
    margin: 35px auto;
    padding: 20px;
    border: 0.5px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    background-color: #fff;
    box-shadow: 10px 10px 5px grey;
}

#galaxyHeader {
    text-align: center;
    margin-bottom: 50px;
}

#subHeader {
    text-align: center;
    margin-bottom: 50px;

}

#button {
    margin: 10px;
    padding: 15px;
    background-color: green;
}